include ../mixins/sub-menu.pug

header.header 
  .container 
    .row.align-items-center 
        .col-3 
          .inner-logo
           a(href="/")
             img(src="/images/logo.svg", alt="Logo")
        .col-9.p-relative.right-0
          .inner-menu
            ul 
              li
                a(href="/") Trang chủ
              li(class='sub-menu')
                - const pathProduct = '/products'

                a(href=pathProduct) Sản phẩm

                 +sub_menu(productCategories, pathProduct)