/* Header */

.header {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.header .inner-logo img {
    max-height: 50px;
    max-width: 100%;
}

.header .inner-menu > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
}

.header .inner-menu > ul > li {
    margin-left: 10px;
}

/* End Header */

/*Main*/
.my-3 .box-head .inner-title{
  font-size: 32px;
  color: green;
}

.my-3 .product-item {
    border: 1px solid #7c7c7c;
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

.my-3 .inner-content {
    flex: 1;
    padding: 10px;
}

.my-3 .inner-img {
    width: 100%;
    height: 50%;
}

.my-3 .inner-img img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.my-3 .inner-content .inner-title {
    font-size: 20px;
    color: #000;
}


.my-3 .inner-content .inner-price-new {
    font-size: 16px;
    font-weight: 600;
    color: green;
}


.my-3 .inner-content .inner-price-old {
    text-decoration: line-through;
    font-size: 16px;
    font-weight: 600;
    color: red;
}

.my-3 .inner-content .inner-discount {
    padding: 5px;
    color: #fff;
    background-color: red;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
/* End Main */

/* Footer */
.footer {
   max-width: 100%;
   background-color: #1d1c1c;
   color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 15px 0;
}
/* Sub Menu  */
.sub-menu {
    position: relative;
    z-index: 9999;
}

.sub-menu ul {
    position: absolute;
    right: 0;
    top: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #eae9e9;
    min-width: 180px;
    display: none;
}

.sub-menu ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.sub-menu:hover > ul {
    display: block;
}

.sub-menu ul li {
    position: relative;
}

.sub-menu ul li ul {
    right: 100%;
    top: 0
}

.sub-menu ul li:hover > ul {
    display: block;
}
/* End Sub Menu  */
.product-item {
    position: relative;
}

.inner-featured {
    font-size: 14px;
    position: absolute;
    top: 3px;
    right: 3px;
}
/* Product Detail */
.product-detail .inner-thumb img {
  width: 100%;
  height: auto;
}

.product-detail .inner-title {
    font-size: 32px;
    margin-bottom: 15px;
}

.product-detail .inner-category {
    margin-bottom: 15px;
}

.product-detail .inner-price-new {
    color: green;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
}
/* End Product Detail */
/* Alert  */
[show-alert] {
    position: fixed;
    top: 70px;
    right: 15px;
    z-index: 9999;
}

[show-alert].alert-hidden {
    animation: alert-hidden 0.5s both;
}

@keyframes alert-hidden {
    from {
        right: 15px;
    }

    to {
        right: -100%;
    }
}

[show-alert] [close-alert] {
    background: #ffffc4;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
}
/* End Alert  */
/* Chat */
.chat {
    border: 1px solid #7c7c7c;
    border-radius: 10px;
}

.inner-body {
    padding: 10px;
    max-height: 450px;
    overflow-y: auto;
}

.inner-root {
    padding: 10px;
}

.inner-body .inner-incoming,
.inner-body .inner-outgoing {
    width: 50%;
}

.inner-body .inner-outgoing {
   margin-left: 50%;
}

.inner-name {
    font-weight: 700;
}

.inner-incoming .inner-content {
    background-color: #d0cfcf;
    display: inline-block;
    border-radius: 10px;
    font-weight: 400;
}

.inner-outgoing {
    float: right;
}

.inner-outgoing .inner-content {
    background-color: #f4667e;
    color: white;
    border-radius: 10px;
    clear: right;
    float: right;
}

.chat .inner-root form {
    padding: 5px;
}

.chat .inner-root .input-text {
    flex: 1;
    width: auto;
    padding: 10px;
    outline: #f4667e;
    border-radius: 10px;
    border: 1px solid  #6a6868;
}

.chat .inner-root button {
    height: 45px;
    width: 60px;
    border: 0;
    background-color: #f4667e;
    border-radius: 10px;
    padding: 5px;
}

.chat .inner-root i {
    color: white;
}
/* End Chat  */
/* Ẩn hiện tooltip Emoji */
.tooltip {
    right: 48px;
    bottom: 70px;
}

.tooltip:not(.shown) {
    display: none;
}

.tooltip.shown {
    display: inline-block;
    opacity: 1;
}

.inner-form {
    display: flex;
    align-items: center;
}

.inner-images {
    margin-left: 2px;
    text-align: right;
    clear: right;
}

.inner-incoming .inner-images {
    text-align: left;
}

.inner-images img {
    width: 350px;
    height: auto;
    object-fit: contain;
    background: #efefef;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}

.inner-form .icon {
    width: 45px;
    height: 45px;
    display: inline-block;
    background-color: #f4667e;
    border-radius: 50%;
    border: 0;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* End Ẩn hiện tooltip Emoji */
/* Box Typing */
.box-typing {
    position: relative;
}

.box-typing .inner-dots {
    position: relative;
    height: 20px;
    width: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
    border-radius: 45px;
    margin-top: 2px;
}

.box-typing .inner-dots span {
    animation: blink 1.5s infinite;
    height: 5px;
    width: 5px;
    background-color: #252525;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
}

.box-typing .inner-dots span:nth-child(2) {
    animation-delay: 0.2s;
}

.box-typing .inner-dots span:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes blink {
    0% { opacity: 0.1; }
    20% { opacity: 1; }
    100% { opacity: 0.1; }
}
/* End Box Typing */