mixin alert-success(time)
 - if (messages.success)//- message là có sẵn còn success là key mình định nghĩa bên controller
    .message.info
      div(class="alert alert-success" show-alert data-time=time) #{messages.success} <span close-alert>x</span>