mixin select-tree(items, level = 1)
  each item in items
    - const prefix = Array(level + 1).join("-- ")
    //-Có thẻ dùng for để thay thế
    //-Array tạo mảng nếu có 2 phần tử là 1 khoảng trống (-- ) 3 pt là 2 khoảng trống (-- -- )
    option(value=item.id selected=(item.id === parent_id ? true : false)) #{prefix}#{item.title}
     if item.children && item.children.length > 0
       +select-tree(item.children, level + 1)