extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
    +alert-success(5000)
    +alert-error(5000)

    .container.my-3 
     .row 
      .col-12 
       +box-head('Chat')
     
     .row 
      .col-12 
       .chat(my-id=user.id) 
        .inner-body
         each chat in chats
          if(chat.user_id == user.id)
           .inner-outgoing.mb-2
            .inner-content 
              | #{chat.content}
          else 
           .inner-incoming.mb-2
            .inner-name 
              | #{chat.infoUser.fullName}
            .inner-content
              | #{chat.content}
        //-  .inner-incoming
        //-   .inner-name Em yêu
        //-   .inner-content 
        //-     | Nhanh nha a
        //-  .inner-outgoing
        //-   .inner-content
        //-     | Ck đến r mà thấy ai ở nhà đâu? Cửa khóa mà :(
        //-  .inner-incoming
        //-   .inner-name Em yêu
        //-   .inner-content 
        //-    | Thì e bảo không ai ở nhà mà
        .inner-root
          form(class="inner-form" action="")
           input(type="text" placeholder="Nhập nội dung...")
           button(type="submit") 
            i(class="fa-regular fa-paper-plane")