include ../mixins/alert.pug

doctype html
html 
  head
    title=pageTitle

    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")
    //Nhúng Bootstrap 4
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer")

    link(rel="stylesheet", href="/css/style.css")
    //Dấu / là vào public rồi nên không cần ghi public
  body
    +alert-success(5000)

    include ../partials/header.pug
    //Vì chứa nhiều thứ nên phải dùng include để tách nhỏ ra

    block main 

    include ../partials/footer.pug

    script(src="/js/script.js")

    //-SocketIO
    script(src="/socket.io/socket.io.js")
    script(src="/js/socket.js")
    script(src="/js/chat.js")

    script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js")