doctype html
html 
  head
    title=pageTitle
  body
    include ../partials/header.pug
    //Vì chứa nhiều thứ nên phải dùng include để tách nhỏ ra

    block main 

    include ../partials/footer.pug

