extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
  //Dùng chung layout-default nên phải Templete Inheritance
  
  .container.my-3 

      include ../../partials/list-btn-users.pug

      .row 
        .col-12 
          +box-head("Danh sách bạn bè")

      .row
        each user in users 
         .col-6
          .box-user
            .inner-avatar
              img(src=(user.avatar ? user.avatar : '/images/avatar.png') alt=user.fullName)
            .inner-info
              .inner-name #{user.fullName}
              .inner-buttons 
                button(class='btn btn-sm btn-primary mr-1' btn-chat-friend=user.id) Nhắn tin
                button(class='btn btn-sm btn-danger mr-1' btn-deleteFriend-friend=user.id) Xóa kết bạn
            
block script
  script(type='module' src="/js/users.js")